# Configuration file

AOBDBB {
    B:"Do Bushes Prick"=false
}


Aluminum {
    S:"Bush Colour"=0xacb2b6

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Copper {
    S:"Bush Colour"=0xaf8055

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Gold {
    S:"Bush Colour"=0x7b7867

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


HeeEndium {
    S:"Bush Colour"=0x92b9d7

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Iron {
    S:"Bush Colour"=0x878787

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Lead {
    S:"Bush Colour"=0xa5aab7

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Mithril {
    S:"Bush Colour"=0xa6b9c3

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=false
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Nickel {
    S:"Bush Colour"=0xbbb8a1

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=false
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Osmium {
    S:"Bush Colour"=0x9ca6b4

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Platinum {
    S:"Bush Colour"=0xa4c8e8

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=false
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Silver {
    S:"Bush Colour"=0xb1b9bb

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Temporal {
    S:"Bush Colour"=0x465982

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Tin {
    S:"Bush Colour"=0xadb3b6

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Tungsten {
    S:"Bush Colour"=0x232323

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=false
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Zinc {
    S:"Bush Colour"=0xa5a19a

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


